@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');



.App {
  min-height: 100vh;
  display: flex;
  background-image: url(../background.png);
  background-size: cover;
  background-position: center;
  color: black;
}

.lottie-container {
  width: 24px !important;
  /* Set exact width */
  height: 24px !important;
  /* Set exact height */
  overflow: hidden;
  /* Crop excess space */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hide scrollbar for Webkit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
* {
  scrollbar-width: none;
}

/* Ensure scrolling still works */
body {
  overflow: auto;
}